
<div class="container">
    <div class="row ">
        <div class="col modalpop">
            <button class="btn btn-primary" (click)="openModal()">Open Modal</button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> Modal Popup</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Modal Example
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>

 <app-validation></app-validation>